body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, rgb(6, 2, 75) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-size: 300% 300%; 
  animation: gradient 4s ease infinite; 

}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat-container {
  width: 350px;
  height: 500px;
  background-color: #ebe9e9e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
 
}

.chat-header {
  background: linear-gradient(90deg, rgb(6, 2, 75) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1px;
  font-size: 10px;
  border-radius: 10px 10px 0 0;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #beb2b2;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #f1f1f149;
  border-top: 1px solid #ddd;
}

#message-input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

#message-input:focus {
  border: 1px solid #007bff;
}

#send-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #0056b3;
}

.message {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
}

.message.sent {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message.received {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}
